input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
/*#menu{
    border-bottom: 1px solid #d9dce3;
    box-shadow: 0 3px 14px -7px #343a40 !important;
}*/
.nav-pills .nav-link:not(.active):hover {
    color: #009688;
}
.content-header{
    background: #fff;
}
#brand-image{
    float: left;
    font-size: 25px;
    margin-left: 3.3rem;
    margin-top: 0em;
    max-height: 5em;
    width: auto;
}
#salir{
	text-align: center;
	
}
#card{
	top: 0em;
    background: #fff; 
    box-shadow: 0 9px 14px -7px #343a4000;
    border-right: none; 
    border-left: none; 
    min-height: 250px; 
   	padding: 15px;
   	border-radius: 0px; 
    margin-right: auto; 
    margin-left: auto;
    padding-left: 15px; 
   	padding-right: 15px;
}
#example1{
	box-shadow: 0 4px 10px -6px #343a4066;
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 25px !important;
    max-width: none !important;
    border-collapse: separate !important;
}
#example1 th{
    color: #fff;
    border: none;
    border-left: 1px solid #fff;
}
#example1 td{
	background: #fff;
    border: none;
    border: 1px solid #f4f4f4;
}
.centrar{
	text-align: center;
}
.btn_tablas:hover{
    border: 1px solid #00BCD4;
    color: #00BCD4;
}
#card-header{
	padding: 1.2rem 1.25rem;
}
/*-------------------------------------------------EXTRA--------------------------------------------------*/
.brand-image {
    float: left;
    font-size: 25px;
    margin-left: 3.3rem;
    margin-top: 0em;
    max-height: 5em;
    width: auto;
}
#a_heder_usuiario{
    cursor: pointer;
    color: #fff;
}
.thead_tabla{
	background: #009688;
	color: #fff;
}
.thead_tabla th{
	padding: 9px;
}
.btn_tablas{
	position: relative;
    top: -0.6em;
    padding: 5px 13px;
    border: 1px solid #929191;
    background: #fff;
    color: #929191;
    border-radius: 3px;
    margin:1px 0px;
}
/*---------------------------------------------BOTONES TABLAS-------------------------------------------------*/
.e2_comision {
    position: relative;
    left: 0%;
    text-align: center;
}
.e2_comision button {
    border: none;
    margin-left: -4px;
    margin-top: 1px;
    color: #009688;
    background: #fff;
    padding: 2px 11px;
    border-radius: 2px;
    font-size: 20px;;
}
.editar{
	color:#FFC107;
}
.eliminar{
	color: red;
}
.editar:hover{
    background: #D4AC0D;
    color: #fff;
    transition: background 0.5s;
}
.eliminar:hover{
    color: #fff;
    background: red;
    transition: background 0.5s;
}
.activar:hover{
    color: #fff;
    background: #2980B9;
    transition: background 0.5s;
}