input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
/*#menu{
    border-bottom: 1px solid #d9dce3;
    box-shadow: 0 3px 14px -7px #343a40 !important;
}*/
.nav-pills .nav-link:not(.active):hover {
    color: #009688;
}
.content-header{
    background: #fff;
}
#brand-image{
    float: left;
    font-size: 25px;
    margin-left: 3.3rem;
    margin-top: 0em;
    max-height: 5em;
    width: auto;
}
#salir{
	text-align: center;
	
}
#card{
	top: 0em;
    background: #fff; 
    box-shadow: 0 9px 14px -7px #343a4000;
    border-right: none; 
    border-left: none; 
    min-height: 250px; 
   	padding: 15px;
   	border-radius: 0px; 
    margin-right: auto; 
    margin-left: auto;
    padding-left: 15px; 
   	padding-right: 15px;
}
#example1{
	box-shadow:0px 10px 10px -10px #343a4066;
	border: none;
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 25px !important;
    max-width: none !important;
    border-collapse: separate !important;
}
#example1 th{
    color: #009688;
    background: #fff;
    border: none;
    border-bottom: 1px solid #009688;
    border-top: 1px solid #009688;
}
#example1 td{
	padding: 12px;
	background: #fff;
    border: none;
}
.centrar{
	text-align: center;
}
#card-header{
	padding: 1.2rem 1.25rem;
}
/*-------------------------------------------------EXTRA--------------------------------------------------*/
.brand-image {
    float: left;
    font-size: 25px;
    margin-left: 3.3rem;
    margin-top: 0em;
    max-height: 5em;
    width: auto;
}
#a_heder_usuiario{
    cursor: pointer;
    color: #fff;
}
.btn_tablas{
	position: relative;
    top: -0.6em;
    padding: 6px 13px;
    border: 1px solid #009688;
    background: #fff;
    color: #009688;
    border-radius: 3px;
    margin:0px 0px;
}
.btn_tablas:hover{
    border: 1px solid #009688;
    background: #009688;
    transition: all 0.5s;
    color: #fff;
}
/*---------------------------------------------BOTONES TABLAS-------------------------------------------------*/
.e2_comision {
    position: relative;
    left: 0%;
    text-align: center;
}
.e2_comision button {
    border: none;
    margin-left: -2px;
    margin-top: 1px;
    color: #009688;
    background: #fff;
    padding: 2px 11px;
    border-radius: 2px;
    font-size: 20px;;
}
.editar{
	color:#FFC107;
}
.eliminar{
	color: red;
}
.editar:hover{
    background: #D4AC0D;
    color: #fff;
    transition: background 0.5s;
}
.eliminar:hover{
    color: #fff;
    background: red;
    transition: background 0.5s;
}
.activar:hover{
    color: #fff;
    background: #2980B9;
    transition: background 0.5s;
}

/*----------------------------------------------------USUARIO-----------------------------------------------------*/
.card h4{
  position: relative;
    padding: 0;
    margin: 0;
    top: -7px;
    color: #009688;
}
.padr_menu_datos{
    padding-top: 12px;
    position: relative;
    display: flex;
}
.padr_menu_datos span{
    padding: 5px 30px;
    color: #929191;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background: #fff;
    cursor: pointer;
}
.padr_menu_datos span:hover{
    color: #009688;
}
.span_selec_1{
    z-index: 1;
    border-left: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #fff;
}
.padre_cont_datos {
    position: relative;
    top: -1px;
    border: 1px solid #e0e0e0;
    border-bottom: 1px solid #fff;
}
.padre_cont_datos section{
    position: relative;
    display: none;
    left: 3%;
    width: 94%;
}
#div_1_modal{
    display: block;
}
/*--------------------------------------------------------BOTONES--------------------------------------------*/
.botones_modal {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botones_modal button ,.botones_modal a {
    margin-left: 5px;
    padding: 6px 20px;
    border-radius: 2px;
    border: 1px solid #009688;
    font-size: 15px;
    color: #fff;
    background: #009688;
    cursor: pointer;
}
#bt_cancelar_modal {
    border: 1px solid #c3c2c2;
    color: #929191;
    background: #fff;
}
.botones_modal button:hover {
    background: #07675e;
    border: 1px solid #07675e;
    color: #fff;
    transition: all 0.5s;
}
#bt_cancelar_modal:hover {
    border: 1px solid #C0392B;
    color: #fff;
    background: #C0392B;
    transition: all 0.5s;
}
<<<<<<< HEAD
.anadir_compras{
    position: relative;
    color: #fff;
    top: 31px;
    cursor: pointer;
}
=======
<<<<<<< HEAD

=======
>>>>>>> be00966d2c50287abecf0b901f56671d46dd3ce2
/*---------------------------------------ALERTAS-------------------------------------------------*/
.swal-button{
    background: #009688;
}
.swal-button:not([disabled]):hover {
   background: #07675e;
}
.swal-button--confirm:focus {
    outline: none;
    box-shadow: none;
}
.swal-button--cancel {
    color: #000;
    background: #fff;
}
.swal-button--cancel:not([disabled]):hover {
    background-color: #e8e8e8;
}
.swal-button--danger {
    background-color: #e64942;
}
.swal-button--danger:not([disabled]):hover {
    background-color: #df4740;
}
<<<<<<< HEAD

/*---------------------------------------------TABLA 2---------------------------------------*/
.thead_tabla2{
    color: #009688;
    background: #fff;
    border: none;
    border-bottom: 1px solid #009688;
    border-top: 1px solid #009688;
}
.tabla2{
    box-shadow: 0px 10px 10px -10px #343a4066;
   
}
.tabla2 th {
    color: #009688;
    background: #fff;
    border: none;
    border-bottom: 1px solid #009688;
    border-top: 1px solid #009688;
}
.tabla2 thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #009688;
}
.tabla2 td, .tabla2 th {
    padding: 10px;
    vertical-align: top;
    border-top: none;
}
/*-------------------botones---------------------------*/

.elim_dcompra{
    color: #fff;
    background: red;
    border: none;
    margin-left: -2px;
    margin-top: 1px;
    padding: 3px 8px;
    border-radius: 4px;
    font-size: 20px;
}
.elim_dcompra:hover{
    background:#da0f0f;
}
=======
>>>>>>> 1fac51c0726fe7d97c50f69064fd6d084340142b
>>>>>>> be00966d2c50287abecf0b901f56671d46dd3ce2
